.venv

anomalib

datasets/cameraPrediction
datasets/Export
datasets/imagenette
datasets/MVTecAD
datasets/prediction
datasets/prediction
datasets/test
datasets/train
datasets/traintest




res

results

pre_trained

runs

logs

lightning_logs

res__

wandb

__pychache__

db

models

results_training